body{
    font-family: "Inter", sans-serif;
    background-color: hsla(0, 0%, 0%, 0.08);
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px; 
}
.container h1{
    margin-bottom: 30px;
    font-weight: 500;
}
.todoInput{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 70%;
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 5px 10px;
    color: hsla(0, 0%, 0%, 0.57);
    border: none;
    width: 100%;
}
.todoInput:focus{
    outline: none;
}
.divInput{
    position: relative;
}
.addBtn{
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
}
ul{
    list-style-type: none;
    padding-left: 0px;
   
}
.todoLi{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: white;  
    padding: 7px 15px;
    margin: 10px 0px;
    color: hsla(0, 0%, 0%, 0.57);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    margin-left: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
 }
 p{
    margin: 0px;
}

 @media screen and (max-width: 600px) {
    .todoInput{
        width: 80%;
    }
    .todoInput, .addBtn{
        font-size: 1.2rem;
    }
    .todoLi{
      font-size: 1.1em;
    }
    .todoLi{
        width: 80%;
    }
  }
